<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">    <!--complete path (/public/..) nhi dena because index.js mein humne phle hi __dirname,'public' se public tak ka path set kr dia hai  -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>hey <%= 2+2%> </h1> 
    <script src="/javascripts/script.js"></script>  <!--same css vala reason-->>
</body>
</html>